In [5]:
import pandas as pd

df = pd.read_csv(r'C:\Users\HP\Desktop\Python\sales_data.csv')
df

          Date                 Product     Category  Quantity  Price
0   2023-01-01                  Laptop  Electronics        10    800
1   2023-01-01                 T-Shirt     Clothing         5     20
2   2023-01-02              Smartphone  Electronics         8    400
3   2023-01-02            Coffee Maker         Home        12     50
4   2023-01-03                   Jeans     Clothing        15     30
5   2023-01-03                 Blender         Home         6     60
6   2023-01-04              Headphones  Electronics        10    150
7   2023-01-04                 Sweater     Clothing         7     35
8   2023-01-05                 Toaster         Home         8     25
9   2023-01-05                  Tablet  Electronics        12    300
10  2023-01-06                Sneakers     Clothing        10     50
11  2023-01-06          Vacuum Cleaner         Home         5     80
12  2023-01-07                Smart TV  Electronics        15   1000
13  2023-01-07                  Hoodie     Clothing         6     25
14  2023-01-08          Blu-ray Player         Home         9     70
15  2023-01-08        Wireless Earbuds  Electronics        11    120
16  2023-01-09            Denim Jacket     Clothing        13     45
17  2023-01-09            Air Purifier         Home         7     90
18  2023-01-10          Gaming Console  Electronics        14    400
19  2023-01-10            Formal Shirt     Clothing         8     35
20  2023-01-11            Cookware Set         Home        10     60
21  2023-01-11     External Hard Drive  Electronics         9     80
22  2023-01-12              Sunglasses     Clothing        11     15
23  2023-01-12               Desk Lamp         Home         6     25
24  2023-01-13        Wireless Speaker  Electronics        12     70
25  2023-01-13              Sweatpants     Clothing         7     20
26  2023-01-14            Coffee Table         Home         8    100
27  2023-01-14                   Drone  Electronics        10    300
28  2023-01-15                Backpack     Clothing        14     40
29  2023-01-15           Comforter Set         Home         7     45
30  2023-01-16         Fitness Tracker  Electronics         9     60
31  2023-01-16            Casual Shoes     Clothing         6     30
32  2023-01-17           Kitchen Scale         Home        12     20
33  2023-01-17               Projector  Electronics        13    200
34  2023-01-18             Dress Shirt     Clothing         8     25
35  2023-01-18              Steam Iron         Home        11     30
36  2023-01-19                Soundbar  Electronics        15    150
37  2023-01-19              Sweatshirt     Clothing         7     35
38  2023-01-20            Bedside Lamp         Home        10     20
39  2023-01-20  Point-and-Shoot Camera  Electronics         8    250
40  2023-01-21             Sport Shoes     Clothing        12     40
41  2023-01-21              Desk Chair         Home         6     75
42  2023-01-22          Wireless Mouse  Electronics        11     25
43  2023-01-22            Summer Dress     Clothing         9     30
44  2023-01-23         Pressure Cooker         Home        14     50
45  2023-01-23       Bluetooth Headset  Electronics         7     50
46  2023-01-24             Denim Skirt     Clothing         8     25
47  2023-01-24               Bookshelf         Home        13     80
48  2023-01-25              4K Monitor  Electronics         9    350
49  2023-01-25             Cargo Pants     Clothing        11     30

In [ ]:
# Homework 1. Task 1

result=df.groupby('Category').agg(
    TotalQuantitySold=('Quantity', 'sum'),
    AveragePricePerUnit=('Price', 'mean'),
    MaxQuantitySold=('Quantity', 'max')
)

result

             TotalQuantitySold  AveragePricePerUnit  MaxQuantitySold
Category
Clothing                   157            31.176471               15
Electronics                183           276.764706               15
Home                       144            55.000000               14

In [7]:
# Homework 1. Task 2

# Group by Category and Product, then sum Quantity
groupped=df.groupby(['Category','Product'])['Quantity'].sum().reset_index()

# For each Category, find the Product with the max total Quantity
TopSelling=groupped.sort_values('Quantity', ascending=False).groupby('Category').first().reset_index()

TopSelling

      Category          Product  Quantity
0     Clothing            Jeans        15
1  Electronics         Soundbar        15
2         Home  Pressure Cooker        14

In [8]:
# Homework 1. Task 3

df['TotalSales']=df['Quantity']*df['Price']
DailySales=df.groupby('Date')['TotalSales'].sum()

max_sales_date=DailySales.idxmax()
max_sales_amount=DailySales.max()

print(f"The highest total sales occurred on {max_sales_date} with amount ${max_sales_amount:.2f}")

The highest total sales occurred on 2023-01-07 with amount $15150.00

In [16]:
# Homework 2. 

import pandas as pd

df1 = pd.read_csv(r'C:\Users\HP\Desktop\Python\Data\customer_orders.csv')
df1

    OrderID  CustomerID              Product  Quantity  Price
0         1         101               Laptop         2    800
1         2         102           Headphones         1    150
2         3         103           Smartphone         3    400
3         4         101  External Hard Drive         2     80
4         5         102             Backpack         1     40
..      ...         ...                  ...       ...    ...
95       96         103              Blender         1     60
96       97         104          Sport Shoes         2     40
97       98         105        Comforter Set         1     45
98       99         101     Wireless Earbuds         2    120
99      100         102       Gaming Console         1    400

[100 rows x 5 columns]

In [ ]:
# Homework 2. Task 1

# Step 1: Count orders per customer
order_counts=df1.groupby('CustomerID').size().reset_index(name='OrderCounts')

# Step 2: Filter customers with 20 or more orders
active_customers=order_counts[order_counts['OrderCounts']>=20]

# Step 3: Filter original DataFrame to only include those customers
filterd_df=df1[df1['CustomerID'].isin(active_customers['CustomerID'])]

filterd_df

In [ ]:
# Homework 2. Task 2

# Calculate unit price
df1['UnitPrice']=df1['Price']/df1['Quantity']

# Group by CustomerID and calculate average unit price
avg_price_per_customer=df1.groupby('CustomerID')['UnitPrice'].mean().reset_index()

# Filter customers with avg unit price > $120
high_value_customers=avg_price_per_customer[avg_price_per_customer['UnitPrice']>120]

high_value_customers

In [ ]:
# Homework 2. Task 3

# Group by product and calculate total quantity and total price
product_summary=df1.groupby('OrderID').agg(
    TotalQuantity=('Quantity', 'sum'),
    TotalPrice=('Price', 'sum')
).reset_index()

# Filter out products with total quantity < 5
filtered_product=product_summary[product_summary['TotalQuantity']<=5]

filtered_product

In [ ]:
# Homework 3

import pandas as pd
import sqlite3 

# STEP 1: Connect to SQLite database and read data
conn=sqlite3.connect(r'C:\Users\HP\Desktop\Python\Data\population.db')

# Load population table using SQL
population_df = pd.read_sql_query("SELECT * FROM population", conn)

conn.close()  # good practice to close connection

# STEP 2: Load salary band definitions from Excel
salary_band_df = pd.read_excel(r'C:\Users\HP\Desktop\Python\Data\population_salary_analysis.xlsx')

# Preview your dataframes
population_df
salary_band_df

In [ ]:
# STEP 3: Define salary bands

# Create a function to assign salary category
def categorize_salary(salary, bands):
    for _, row in bands.iterrows():
        if row['Min']<=salary<=row['Max']:
            return row['Category']
    return 'Unknown'

# Apply the salary band category
population_df['Salary_Category'] = population_df['salary'].apply(lambda x: categorize_salary(x, salary_band_df))

In [ ]:
# STEP 4: Calculate Overall Measures

# Total population
total_population=len(population_df)

# Group by salary category
grouped=population_df.groupby('Salary_Category')

# Calculate measures
summary=grouped['Salary'].agg(
    Count='count',
    Average='mean',
    Median='Median'
).reset_index()

summary['Percentage']=(summary['Count']/total_population*100).round(2)

summary

In [ ]:
# STEP 5: Measures Per State & Salary Category

# Group by State and Salary Category
state_grouped = population_df.groupby(['state', 'Salary_Category'])

# Calculate per-state metrics
state_summary = state_grouped['Salary'].agg(
    Count='count',
    Average='mean',
    Median='median'
).reset_index()

# Add percentage column per state
state_totals = population_df.groupby('State').size().rename("Total_Pop")
state_summary = state_summary.merge(state_totals, on='State')
state_summary['Percentage'] = (state_summary['Count'] / state_summary['Total_Pop'] * 100).round(2)

print("📊 Per-State Salary Category Analysis:")
print(state_summary.drop(columns='Total_Pop'))